:root {
    --frame-width: 280px;
    --frame-height: 550px;
    font-family: "Hannari"; 
}

.wf-hannari { font-family: "Hannari"; }

div {
    cursor: default;
}


#title, #ending {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: rgba(255,255,255,0.9);
    writing-mode: vertical-rl;
}

#ending {
    display: none;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    flex-direction: column;
}

#ending>p:first-child {
    margin-right: 0.5em;
    margin-top: 0.5em;
    z-index:95;
}

#ouvre { 
    position: absolute;
    height: 300px;
}


#ouvre>span {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

#title>p {
    font-family: sans-serif;
    margin: 30px;
    margin-top:3em;
}
div#start {
    position: absolute;
    font-size: 40px;
    z-index:90;
    text-align:center;
    left: 40%;
    top: 0%;
    margin-top:4em;
}

div#has_button {
    position:absolute;
    flex-direction:row;
    width: 100%;
    padding-top: 40px;
    font-size: 12px;
    writing-mode: horizontal-tb;
    bottom: 1em;
    text-align:center;
}

#submit {
    background-color: white;
}

#share { 
    height: 1.1em;
}
#copy-record-description {
    margin:0
}

.centered {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main_window {
    /*border: solid 2px black;*/
    width: var(--frame-width);
    height: var(--frame-height);
    position: absolute;
    transform: translateX(-150px) translateY(-50%);
    background-color: rgba(255,255,255,0.9);
}
#main_frame {
    height:100%
    width:100%
}

#wrapper {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

div.letter {
    position: absolute;
    /*display: flex;*/
    font-size: 60px;
    width: 56px;
    height: 56px;
    line-height: 0.7em;
    justify-content: center;
    overflow: hidden;
    padding-left: 0.05em;
    padding-bottom: 0.1em;
    /*border: solid 1px grey;*/
    /*transform: translateX(-50%) translateY(-50%);*/
    z-index: 40;
    cursor: default;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    /*filter: blur(4px);*/
}

div.word :hover {
    background-color: grey;

}

div.typhoon {
    position: absolute;
    display: flex;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    width: 20px;
    height: 20px;
    display: none;
}

div.frame {
    position: absolute;
    width: calc(var(--frame-width)*2);
    height: var(--frame-height);
    background-color: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6px);
    z-index: 70;
    left: 50%;
    top: 50%;
    /*display:none;*/
}

div#right {
    height: 554px;
    transform: translateX( 129px) translateY(-50%);
    background: linear-gradient(to right, rgba(255,255,255,0.95), white 20px);
    border-left: solid 2px black;
    z-index: 72;
}
div#left {
    height: 554px;
    transform: translateX(-712px) translateY(-50%);
    background: linear-gradient(to left, rgba(255,255,255,0.95), white 20px);
    border-right: solid 2px black;
    z-index: 72;
}
div#bottom {
    transform: translateX(-50%) translateY( 275px);
    background: linear-gradient(to bottom, rgba(255,255,255,0.95), white 20px);
    width: 900px;
    height: 300px;
    border-top: solid 2px black;
}
div#top {
    height: 300px;
    background: linear-gradient(to top, rgba(255,255,255,0.95), white 20px);
    transform: translateX(-50%) translateY(-577px);
    width: 900px;
    border-bottom: solid 2px black;
}

div#haiku {
    z-index: 80;
    height: 550px;
    transform: translateX(140px) translateY(-275px);
    position: absolute;
    font-size: 28px;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
}

div#bar {
    width: 2px;
    height: 0px;
    z-index: 80;
    transform: translateX(137px) translateY(-277px);
    background-color: black;
    position: absolute;
}
